		.GcESAf.iFJd6c {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
    .GcESAf {
      margin: 0 auto;
      max-width: 400px;
      min-width: 280px;
      outline: medium none;
      width: 100%;
    }
    .UB0dDd {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      z-index: 1;
    }
    .Ihwked {
      background-color: #fefefe;
      border-radius: 2px;
      display: block;
      overflow: hidden;
      position: relative;
      text-align: start;
    }
    .H68wj {
      line-height: normal;
      text-align: left;
      white-space: normal;
    }
    .jx5iDb {
      line-height: 0;
      text-align: center;
      white-space: nowrap;
    }
    body {
      -moz-osx-font-smoothing: grayscale;
      color: #212121;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    }
    .ELUvyf {
      font-size: 14px;
      line-height: 20px;
      margin: 0 16px 16px;
      overflow-wrap: break-word;
    }
    .Ihwked {
      text-align: start;
    }

