<footer>
				<div style="margin-top:40px;"></div>
        <div class="row navbar-default">
          <div class="col-lg-12">
            <p> Contact me at <a href="mailto:vishalpundir49@gmail.com">vishalpundir49@gmail.com</a>.</p>
          </div>
        </div>

</footer>
